CompileFlags:
  CompilationDatabase: .
  Add:
    - --target=i386-none-elf
    - -std=c11
    - -ffreestanding
    - -fno-builtin
    - -fno-stack-protector
    - -fno-pic
    - -nostdlib
    - -Iinclude
    - -Isrc/drivers/dx
    - -Isrc/drivers/display/bga
    - -Isrc/drivers/display/virtio_gpu
    - -Iuserspace/sdk/core
  Remove:
    - -m32
    - -m64

Index:
  Background: Build

---

If:
  PathMatch: userspace/.*\.(cpp|hpp|h)

CompileFlags:
  CompilationDatabase: .
  Add:
    - --target=i386-none-elf
    - -std=c++17
    - -ffreestanding
    - -fno-exceptions
    - -fno-rtti
    - -fno-builtin
    - -DUSERMODE
    - -Iinclude
    - -Iuserspace/sdk/core
  Remove:
    - -m32
    - -m64
